body,
html {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
}
*,
:after,
:before {
  box-sizing: inherit;
}
